# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# JetBrains IDEs
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# pytest
.pytest_cache/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db
